@import "tailwindcss";

@theme {
  --color-primary-500: #3b82f6;
  --color-primary-600: #2092ec;
  --color-primary-light: #0061ff29;
  --color-primary-bg-light: #e3f1fd;
  --color-primary-700: #1d4ed8;
  --color-secondary-500: #64748b;
  --color-secondary-600: #475569;
  --color-secondary-700: #334155;
  --color-success-500: #10b981;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-danger-700: #b91c1c;
  --color-bg-color: #eaf2fb;
  --color-text-300: #9ca3af;
  --color-text-500: #4b5563;
  --color-text-600: #4b5563;
  --color-gray-200: #f4f5fa;
  --color-sidebar-gradient-start: #8bccff;
  --color-status-success: #27c840;
  --color-status-success-light: #d4f4d9;
  --color-status-warning: #febc2f;
  --color-status-warning-light: #fff2d5;
  --color-status-error: #ff5f57;
  --color-status-error-light: #ffdfdd;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease;
}

.MuiFormHelperText-root {
  margin-left: 3px !important;
}

.sidebar .MuiListItemButton-root::-webkit-scrollbar {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.sidebar .MuiPaper-elevation::-webkit-scrollbar {
  display: none !important;
}

.noScrollbar::-webkit-scrollbar {
  display: none !important;
}
.phoneInput .css-qve9l1-MuiInputBase-input-MuiOutlinedInput-input {
  color: var(--text-primary);
}
